.notificationsStack {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
    margin-bottom: 32px;
}

a.notificationContainer {
    all: unset;
    cursor: pointer;
    width: -webkit-fill-available;
    width: -moz-available;
}

a:has(div.notificationBanner)::after {
    all: unset;
}

div.notificationBanner {
    background: var(--asexual-purple-dark);
    border-radius: 8px;
    text-align: center;
    border: 2px var(--asexual-purple) solid;
    padding: 8px;
    width: -webkit-fill-available;
    width: -moz-available;

    & > h1 {
        font-size: 24px;
        margin: 0px 0 2px 0;
    }

    & > p {
        font-size: 16px;
        margin: 0;
    }
}
