div#programmeContent {
    color: var(--ghost);
    background-color: var(--asociální-zeleň);
    font-size: 21px;
    font-family: var(--font-klavika-basic);
}

@media screen and (max-width: 949px) {
    div#programmeContent {
        padding: 16px 16px 0;
    }
    div#programmeContent > h1 {
        width: calc(100% - 32px);
    }
}

@media screen and (min-width: 950px) {
    div#programmeContent {
        padding: 16px 32px 0;
    }
    div#programmeContent > h1 {
        width: calc(100% - 64px);
    }
}

div#programmeContent ul {
    list-style: none;
    counter-reset: listCounter;
}

div#programmeContent ul li {
    position: relative;
    margin-bottom: 10px;
}

div#programmeContent ul li::marker {
    content: "";
    font-weight: bold;
}

div#programmeContent label.rokKarta {
    width: 30vw;
    height: 30vh;
    display: block;
    background-color: black;
    border: 24px solid white;
    margin: -24px 0;
    transition: border-color 0.3s ease;
}

@media screen and (max-width: 768px) {
    div#programmeContent label.rokKarta {
        width: 80vw;
        height: 25vh;
        border-width: 16px;
        margin: -16px 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div#programmeContent label.rokKarta {
        width: 40vw;
        height: 28vh;
        border-width: 20px;
        margin: -20px 0;
    }
}

div#programmeContent label.rokKarta:hover {
    border-color: var(--mint);
}

div#programmeContent label.rokKarta input {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}

div#programmeContent div.rokFront {
    font-size: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    div#programmeContent div.rokFront {
        font-size: 15vw;
    }
}

div#programmeContent .rokBack {
    position: fixed;
    top: 64px;
    left: 64px;
    width: calc(100vw - 128px - 32px - 32px);
    height: calc(100vh - 128px - 32px - 32px);
    border: 16px solid var(--mint);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: min(1.5vw, 2vh);
    text-align: center;
    z-index: 100;
    padding: 16px;
}

@media screen and (max-width: 768px) {
    div#programmeContent .rokBack {
        top: 16px;
        left: 16px;
        width: calc(100vw - 32px - 16px - 16px);
        height: calc(100vh - 32px - 16px - 16px);
        border-width: 8px;
        padding: 12px;
        font-size: min(3.5vw, 2.5vh);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div#programmeContent .rokBack {
        top: 32px;
        left: 32px;
        width: calc(100vw - 64px - 24px - 24px);
        height: calc(100vh - 64px - 24px - 24px);
        border-width: 12px;
        font-size: min(2.5vw, 2.2vh);
    }
}

div#programmeContent label.rokKarta .rokBack,
label.rokKarta .rokKartaBackdrop {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

div#programmeContent label.rokKarta:has(input:checked) .rokBack,
label.rokKarta:has(input:checked) .rokKartaBackdrop {
    pointer-events: auto;
    opacity: 100;
}

div#programmeContent label.rokKarta div.rokKartaBackdrop {
    background-color: black;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: opacity 0.3s ease;
}

div#programmeContent label.rokKarta:has(input:checked) div.rokKartaBackdrop {
    opacity: 0.5;
}

div#programmeContent .rokBack h3.nadpis {
    width: fit-content;
    margin-bottom: 16px;
    margin-top: -24px;
}

@media screen and (max-width: 768px) {
    div#programmeContent .rokBack h3.nadpis {
        margin-top: -12px;
        margin-bottom: 12px;
    }
}

div#programmeContent div.rokyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 64px;
    height: calc(100vh - 32px - 24px - 32px - 32px - 64px);
    padding: 32px 0;
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    div#programmeContent div.rokyContainer {
        column-gap: 16px;
        row-gap: 16px;
        height: auto;
        min-height: calc(100vh - 100px);
        padding: 16px 0;
        margin-top: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div#programmeContent div.rokyContainer {
        column-gap: 32px;
        row-gap: 32px;
        margin-top: 60px;
    }
}

div#programmeContent label.rokKarta:hover .rokFront {
    color: var(--mint);
}

.nadrokovybox {
    background-color: var(--asociální-zeleň);
    border: 3px solid var(--mint);
    border-radius: 10px;
    color: white;
    font-family: var(--font-klavika-basic);
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.4;
    margin: 50px auto 30px;
    height: auto;
    margin-bottom: -6rem;
    padding: 16px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .nadrokovybox {
        font-size: 18px;
        padding: 12px 24px;
        min-height: 5rem;
        margin: 30px auto 20px;
        margin-bottom: -4rem;
        max-width: 90vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nadrokovybox {
        font-size: 24px;
        padding: 14px 40px;
        height: auto;
        margin-bottom: -5rem;
    }
}

div#programmeContent .nadrokovybox {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

div#programmeContent:not(:has(.rokKarta input:checked)) .nadrokovybox {
    opacity: 1;
    pointer-events: auto;
}

.title {
    margin-left: 49rem;
    margin-top: -1.1rem;
}

@media screen and (max-width: 768px) {
    .title {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        padding: 0 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .title {
        margin-left: 20rem;
        margin-top: -1rem;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .title {
        margin-left: 30rem;
        margin-top: -1.1rem;
    }
}
