div#membersContent {
	padding: 16px 96px 32px;
	color: white;
	font-family: var(--font-mono);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    &>h1 {
        font-size: 42px;
    }
}

div#content:has(div#členové) {
	display: flex;
	justify-content: center;
}

div#členové {
    color: white;
    max-width: 850px;
    width: fit-content;
    row-gap: 32px;
    display: flex;
    flex-direction: column;
}

div.členInfo {
    width: 100%;
}

div#členové>div.člen {
    display: flex;
    column-gap: 16px;
    & img {
        width: 150px;
        border-radius: 16px;
    }
    & h1 {
        font-family: var(--font-brand);
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 16px;
    }
    & ul {
        font-family: var(--font-mono);
        & li::marker {
            content: "- ";
        }
    }
}

div#členové>div.člen:nth-child(odd) {
    flex-direction: row;
}

div#členové>div.člen:nth-child(even) {
    flex-direction: row-reverse;
}