div#membersContent {
	padding: 1.627670396744659vh calc(6*1.627670396744659vh) calc(2*1.627670396744659vh);
	color: var(--ghost);
	font-family: var(--font-mono);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--asociální-zeleň);
    width: calc(100% - calc(2*6*1.627670396744659vh));
    row-gap: 24px;
    &>h1 {
        font-size: 42px;
    }
}

div#content:has(div#členové) {
	display: flex;
	justify-content: center;
}

div#členové {
    color: var(--ghost);
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.členInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#členové>div.člen:not(.open) {
    width: 20vw;
    display: flex;
    column-gap: 16px;
    cursor: pointer;
    padding-right: 0;
    height: auto;
    filter: grayscale(50%);
    aspect-ratio: 1;
    flex: 1 1 auto;
    transition: width var(--transition-members), filter var(--transition-members);
    & h1 {
        font-family: var(--font-brand);
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 16px;
    }
    & ul {
        font-family: var(--font-mono);
        & li::marker {
            content: "- ";
        }
    }
}

div#členové:not(:has(div.člen.open)):has(div.člen:hover)>div.člen:not(:hover) {
    width: 15vw;
    aspect-ratio: 1;
    filter: grayscale(100%);
}

div#členové:not(:has(div.člen.open)):has(div.člen:hover)>div.člen:hover {
    width: 25vw;
    aspect-ratio: 1;
    filter: grayscale(0%);
}

div#členové>div.člen>img {
    height: 100%;
    aspect-ratio: 1;
}

div#členové>div.člen:not(.open)>div.členInfo {
    display: none;
}

div#členové>div.člen {
    flex-direction: row;
}

div#členové>div.člen.open {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

div#členové>div.člen.open>div.členContent {
    z-index: 10;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90vw;
    width: fit-content;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: visible;
    background-color:  var(--ne-tak-úplně-černá);
    padding: 24px 48px 24px 32px;
    border: 16px solid var(--asociální-zeleň);
    &>img {
        height: 256px;
        opacity: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-75%);
    }
    & h1 {
        font-family: var(--font-brand);
        font-size: 48px;
        margin-top: 32px;
        margin-bottom: 0px;
        text-wrap: nowrap;
        background-color: var(--asexual-purple);
        padding: 8px 16px;
        display: inline-block;
    }
    & ul {
        font-family: var(--font-klavika-basic);
       font-weight: normal;
        font-size: 4vh;
        padding-left: 4.069175991861648vh;
        & li::marker {
            content: "- ";
        }
    }
    & .sns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 1.627670396744659vh;
        font-family: var(--font-klavika-condensed);
        font-weight: 300;
        font-style: italic;
        & a {
            font-size: 3vh;
            color: var(--ghost);
            display: flex;
            flex-direction: row;
            column-gap: 0.8138351983723296vh;
            align-items: center;
            &>img {
                height: 2.5vh;
            }
        }
        & a::after {
            content: none;
        }
    }
}

div#členové>div.člen.open>div.backdrop {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw !important;
    height: calc(100vh - 100px) !important;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.clenoveTitle{
    width: calc(100vw - 8vw);
    max-width: calc(100vw - 8vw);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 949px) {
    .clenoveTitle {
        margin-top: -16px;
    }
}

@media screen and (min-width: 950px) {
    .clenoveTitle{
        margin-top: -16px;
    }
}

.clenoveTitle > img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 2vh;
}

html.dark div#membersContent{
    background-color: var(--ne-tak-úplně-černá);
}

html.light div#membersContent{
    background-color: var(--bělavě-šedá);
}