div#Hero {
    height: calc(100vh - 8.33vh - var(--extraheaderpaddingstuff));
    margin-top: calc(3.7vh + var(--extraheaderpaddingstuff));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6vh;
    width: 100%;
}

@media screen and (max-width: 949px) {
    div#Hero {
        height: auto;
        padding-top: 4vh;
    }
}

div#Hero::after {
    content: "";
    width: 100%;
    height: 0;
    position: relative;
    bottom: 0;
    border-top: solid 0.46vh var(--asocial-green);
    border-bottom: solid 0.46vh var(--žlutavě-žlutá);
    transition: bottom var(--transition-footer);
}

div#root:has(div#footer:hover) div#Hero::after {
    bottom: calc(2.31vh - min(2.31vh, var(--scroll-level)));
}

div#Hero > div.carousel-container {
    height: calc(100% - 0.93vh) !important;
}

div#Hero > * > *,
div#Hero > * > * > div.carousel-content-wrapper > * {
    height: 100% !important;
}

div#Hero > * > * > div > * > * > img {
    max-height: 100%;
    max-width: 100%;
}

div#Hero div.carousel-content-package {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:visited,
a:not(:visited):hover::after {
    color: var(--červená-z-loga);
}

a:not(:visited),
a:visited:hover::after {
    color: var(--žlutavě-žlutá);
}

a::after {
    content: "open_in_new";
    font-family: 'Material Symbols Outlined';
    font-size: 0.625vw;
    position: absolute;
}

div.mainACTUALContentContainer {
    line-height: 1.55;
    padding: 6vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4vw;
    font-size: 32px;
}

div.mainContactsContainerContainer {
    backdrop-filter: brightness(0.5);
    width: calc(100% - 2 * 5.93vh); height: 100%; padding: 5.93vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    div.mainACTUALContentContainer {
        font-size: 2.5vw;
        line-height: 4vh;
        padding: 3vh 2.08vw;
        flex-direction: column;
        row-gap: 2.08vh;
        column-gap: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div.mainACTUALContentContainer {
        font-size: 2.4vw;
        line-height: 3.8vh;
        padding: 3.5vh 2.34vw;
        column-gap: 2.34vw;
    }
}

div.mainACTUALContentTextContainer {
    padding: 16px 24px;
    border-radius: 0.42vw;
    border: 0.16vw solid var(--mint);
    height: fit-content;
    display: flex;
    align-items: center;
    text-wrap: balance;
    max-width: 70vw;
    flex: 1;
}

div.mainACTUALContentTextContainer > p {
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    div.mainACTUALContentTextContainer {
        padding: 12px 16px;
        width: 100%;
        max-width: 100%;
    }
}

div.mainACTUALContentContainer img {
    max-height: 45vh;
    max-width: 32vw;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
    margin-bottom: -5vh;
    border-radius: 0.83vw;
    
}

@media screen and (max-width: 768px) {
    div.mainACTUALContentContainer img {
        max-height: 20vh;
        max-width: 100%;
    }
}

div.mainACTUALContentContainer:not(:first-of-type) {
    background-color:  #0f0f0f;
}

div.mainContactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}


@media screen and (max-width: 768px) {
    div.mainContactsContainer {
        padding: 4.17vh 2.08vw;
    }
}

div.mainACTUALContactsContainer {
    border-radius: 0.83vw;
    border: 0.625vw solid var(--asociální-zeleň);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.74vh;
    color: white;
    padding: 0 3.33vw 1.48vh;
    font-size: 1.67vw;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    div.mainACTUALContactsContainer {
        border-width: 0.78vw;
        border-radius: 1.56vw;
        padding: 0 3.13vw 1.56vh;
        font-size: 2.6vw;
        gap: 0.78vh;
        width: calc(100% - 4.17vw);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div.mainACTUALContactsContainer {
        border-width: 0.78vw;
        padding: 0 4.69vw 1.3vh;
        font-size: 2.54vw;
    }
}

div.mainACTUALContactsContainer > * {
    color: white;
    font-weight: normal;
}

.mainACTUALContactsContainer .nadpis,
.mainACTUALContactsContainer h1.nadpis,
.mainACTUALContactsContainer h2.nadpis,
.mainACTUALContactsContainer h3.nadpis {
    background-color: transparent !important;
    margin-top: -0.46vh;
    margin-bottom: 0.02vh;
    color: var(--asociální-zeleň);
    font-weight: bold;
    font-size: 8vh;
}

@media screen and (max-width: 768px) {
    .mainACTUALContactsContainer .nadpis,
    .mainACTUALContactsContainer h1.nadpis,
    .mainACTUALContactsContainer h2.nadpis,
    .mainACTUALContactsContainer h3.nadpis {
        margin-top: 0;
        margin-bottom: 0.65vh;
        font-size: 3.65vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mainACTUALContactsContainer .nadpis,
    .mainACTUALContactsContainer h1.nadpis,
    .mainACTUALContactsContainer h2.nadpis,
    .mainACTUALContactsContainer h3.nadpis {
        font-size: 3.91vw;
    }
}

.mainACTUALcontentStanovy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
    padding: 2.22vh 1.25vw;
    position: relative;
    font-size: 0.94vw;
    font-weight: normal;
    border-radius: 0.42vw;
    width: 100%;
    max-width: 95vw;
    height: auto;
    margin: 2.22vh auto;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .mainACTUALcontentStanovy {
        flex-direction: column;
        gap: 3.13vh;
        padding: 2.08vh 2.08vw;
        align-items: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mainACTUALcontentStanovy {
        gap: 3.91vw;
        padding: 1.85vh 1.95vw;
    }
}

.stanovy {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex-shrink: 0;
    margin-left: 0;
    margin-top: 3vh;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .stanovy {
        margin-left: 0;
        gap: 3.13vh;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .stanovy {
        margin-left: 0;
        gap: 2vw;
    }
}

.stanovy > a {
    box-sizing: border-box;
    background-color: #0f0f0f;
    padding: 2.59vh 2.19vw;
    color: var(--mint);
    font-size: 1.77vw;
    width: 100%;
    max-width: 28.65vw;
    max-height: 8.33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .stanovy > a {
        padding: 2.08vh 3.13vw;
        font-size: 2.34vw;
        min-height: 5.21vh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .stanovy > a {
        padding: 1.85vh 3.13vw;
        font-size: 2.54vw;
    }
}

.stanovy a::after {
    content: none !important;
}

.hornitext {
    max-width: 95vw;
    width: fit-content;
    font-size: 1.7vw;
    background: var(--asociální-zeleň);
    border-radius: 0.42vw;
    border: 0.16vw solid var(--mint);
    padding: 16px 24px;
    margin-bottom: 2vh;
    text-align: center;
    color: white;
    line-height: 1.4;
}

.logocsa {
    margin-bottom: 0.93vh;
    width: 100% !important;
    max-height: 38vh !important;
    height: auto !important;
}

@media screen and (max-width: 768px) {
    .logocsa {
        max-height: 25vh !important;
        margin-bottom: 0.65vh;
    }
}

.časnovýroman {
    font-family: "Times New Roman", Times, serif;
}

.komickýsans {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.třetífont {
    font-family: "Courier New", Courier, monospace;
}

.mainACTUALContentTextContainer:nth-of-type(1) {
   margin-right: 4vw;
}

.mainACTUALContentTextContainer:nth-of-type(2) {
   margin-right: 4vw;
   margin-top: 4vh;
}

