
div#Hero {
    height: calc(100vh - 90px - var(--extraheaderpaddingstuff));
    margin-top: calc(40px + var(--extraheaderpaddingstuff));
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

@media screen and (max-width: 949px) {
    div#Hero {
        height: auto;
    }
}

div#Hero::after {
    content: "";
    width: 100%;
    height: 0;
    position: relative;
    bottom: 0px;
    border-top: solid 5px var(--asocial-green);
    border-bottom: solid 5px var(--žlutavě-žlutá);
    transition: bottom var(--transition-footer);
}

div#root:has(div#footer:hover) div#Hero::after {
    position: relative;
    bottom: calc(25px - min(25px, var(--scroll-level)));
}

div#Hero>div.carousel-container {
    width: unset;
    height: calc(100% - 10px) !important;
}

div#Hero>*>*, div#Hero>*>*>div.carousel-content-wrapper>* {
    height: 100% !important;
}

div#Hero>*>*>div>*>*>img {
    max-height: 100%;
    max-width: 100%;
}

div#Hero div.carousel-content-package {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a:visited, a:not(:visited):hover::after {
    color: var(--červená-z-loga);
}

a:not(:visited), a:visited:hover::after {
    color: var(--žlutavě-žlutá);
}

a::after {
    content: "open_in_new";
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    position: absolute;
}

div.mainACTUALContentContainer {
    font-size: 28px;
    font-weight: bold;
    line-height: 48px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    &>div.mainACTUALContentTextContainer {
        padding: 16px 24px;
        border-radius: 8px;
        border: 3px solid var(--mint);
        height: fit-content;
        display: flex;
        align-items: center;
        text-wrap: balance;
        &>p:first-child {
            margin-top: 0;
        }
        &>p:last-child {
            margin-bottom: 0;
        }
    }
    & img {
       height:600px;
        flex-shrink: 1;
    }
}

div.mainACTUALContentContainer:not(:first-of-type) {
    background-color: var(--ne-tak-úplně-černá);
    >* {
        margin-top: -60px;
    }
}

div.mainACTUALContentContainer:nth-of-type(3) {
    >* {
        margin-top: -90px;
    }
}

div.mainContactsContainer {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.mainACTUALContactsContainer {
    background: var(--asociální-zeleň);
    border-radius: 16px;
    border: 12px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    padding: 0 64px 16px;
    font-size: 32px;
    &>* {
        color: white !important;
        font-weight: bold;
    }
}

div.mainACTUALContactsContainer > .nadpis {
    background: none;
    width: fit-content;
}

.mainACTUALcontentStanovy {
  display: flex;
  gap: 24px;
  left: 10px;
  padding: 24px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  max-width: 900px;
  height: 400px;
  margin: 24px auto;
}

.stanovy {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
 width: 220px;
 position: absolute;
 left: -250px;
 user-select: none;
}

.stanovy > a {
  background-color: black;     
  padding: 24px 36px;          
  color: var(--mint);              
  font-size: 30px;           
  width: 450px;                
  height: 42px;                 
  display: flex;
  align-items: center;           
  justify-content: center;       
  text-align: center;
  text-decoration: none; 
}
.stanovy a::after {
    content: none !important;
}

.pravýtext {
    position: relative;
    left:550px;
    bottom: 25px;
    width: 500px;
    height: 420px;
    font-size: 37px;
    background: var(--asociální-zeleň);
    border-radius: 7px;
    border: 2px solid var(--mint);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--mint);
    padding: 0 64px 16px;
    &>* {
        color: white !important;
        font-weight: bold;
    }
}
.časnovýroman {
    font-family: "Times New Roman", Times, serif
}

.komickýsans {
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

.třetífont {
    font-family: "Courier New", Courier, monospace; 
}

.logocsa {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1;
}









