@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
    margin: 0;
}

html:has(noscript), body:has(noscript), noscript {
    background-color: #0f0f0f;
    color: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

noscript {
    font-family: "Neue Machina", "JetBrains Mono", monospace;
    & h1 {
        font-size: 32px;
        font-weight: 700;
    }
    & h2 {
        font-size: 16px;
        font-weight: 300;
    }
}

div#header, div#footer {
    background-color: transparent !important;
}

div#Hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
}

div#Hero>*>*, div#Hero>*>*>div>* {
    height: 100% !important;
}

div#Hero>*>*>div>*>*>img {
    aspect-ratio: 16/9;
    max-height: 100%;
    max-width: 100%;
}

div#Hero div.carousel-content-package {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

html {
    overflow: hidden;
    background-color: black;
}