.nadpis {
    font-family: var(--font-avant-garde);
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    width: calc(100vw - 32px);
    background: black;
    margin-bottom: 0;
    padding: 8px 16px;
    z-index: 3;
    position: relative;
}

h3.nadpis {
    font-size: 32px;
}