.nadpis {
    box-sizing: border-box;
    background-color: var(--ne-tak-úplně-černá);
    padding-top: 1vh;
    color: var(--cerise);
    font-family: var(--font-klavika-basic);
    font-size: 60px;
    font-weight: bold;
    width: fit-content;
    max-width: 450px;
    max-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
    user-select: none;
    white-space: nowrap;
}

h3.nadpis {
    font-size: 32px;
}
