@import "../../common.css";

div#content:has(div#signaturesContent) {
    min-height: calc(100vh - 106px);
}

div#helpContent:has(div#signaturesContent) {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 106px);
}

div#helpContentWrapper {
    min-height: calc(100vh - 106px);
}

div#signaturesContent {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: var(--asociální-zeleň);
    width: 100vw;
    min-height: 100%;
}

a#petitionDL {
    padding: 16px 24px;
    background: var(--ne-tak-úplně-černá);
    display: flex;
    color: var(--mint);
    text-decoration: none;
    &::after {
        content: "";
    }
}

div#signaturesNote {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
    padding: 16px 24px;
    border: 3px var(--mint) solid;
    border-radius: 24px;
}

div#signaturesContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

div#signaturesInstructionsWrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    & > .signaturesInstructionWrapper {
        color: transparent;
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-align: center;
        font-size: 16px;
        padding: 16px;
        border: 3px transparent solid;
        border-radius: 24px;
        transition:
            border-color 0.1s ease-in-out,
            color 0.1s ease-in-out;
        &:hover {
            border-color: var(--mint);
            color: white;
        }
        & > img {
            width: 50%;
            aspect-ratio: 1;
        }
        & > ul {
            list-style-type: none;
            padding: 0;
            margin-left: 24px;
            margin-right: 12px;
            text-align: left;
        }
        & > ul > li {
            margin-bottom: 8px;
        }
        & > ul > li::marker {
            content: "- ";
        }
    }
}

@media (max-width: 1235px) {
    div#helpContentWrapper > * {
        width: calc(100% - 40px) !important;
    }

    div#signaturesNote {
        font-size: 1rem;
    }

    div#signaturesInstructionsWrapper {
        & > .signaturesInstructionWrapper {
            width: 40vw;
            & > img {
                width: 80%;
            }
        }
    }
}
