div#historyContent {
	color: var(--ghost);
	font-size: 21px;
	font-family: var(--font-mono);
}

@media screen and (max-width: 949px) {
    div#historyContent {
        padding: 16px 32px 0;
    }
}

@media screen and (min-width: 950px) {
    div#historyContent {
        padding: 16px 96px 0;
    }
}

ol {
    list-style: none;
    counter-reset: listCounter;
    padding-left: 200px;
}

ol li {
    position: relative;
    margin-bottom: 10px;
}

ol li::marker {
    content: attr(data-date) " - ";
    font-weight: bold;
}

img#argonaut {
    width: 75%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    padding-bottom: 82px;
}