div#header {
    position: fixed ;
    font-family: var(--font-klavika-basic);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    color: var(--ghost);
    user-select: none;
    text-align: center;
    column-gap: 16px;
    font-size: 16px;
    z-index: 100;
    height: 48px;
    top: 0;
    &>span {
        font-size: 20px;
        font-weight: 700;
        margin-top: -2px;
    }
    &>div#headerLinks {
        display: flex;
        column-gap: 16px;
        &>* {
            margin-top: -2px;
            color: var(--ghost);
            font-family: var(--font-klavika-basic);
            font-size: 20px;
            text-decoration: none;
            position: relative;
            transition: color 0.3s ease 0s;
            padding: 4px 8px;
            border: 1px solid var(--asociální-zeleň);
            border-radius: 6px;
        }
        &>*::after {
            content: none;
        }
        &>[href="/sraz2025"] {
            color: var(--červená-z-loga)
        }
        &>.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        
        &>*:hover,
        &>*:focus,
        &>*.active {
            color: var(--asociální-zeleň);
        }
        
        &>*:hover::after,
        &>*:focus::after,
        &>*.active::after {
            display: none;
        }
    }
    transition: margin-top 0.33s cubic-bezier(0.4, 0, 0.2, 1);
}

div#header.headerWithExtraNews {
    margin-top: var(--extraheaderpaddingstuff);
}

@media screen and (min-width: 1235px) {
    div#header {
        padding: 4px 13px;
        background:  #0f0f0f;
        width: calc(100vw - 26px);
        &>span {
            &>label,&>input{
                display: none;
            }
        }
        &>div#headerLinks {
            display: flex;
            column-gap: 16px;
        }
    }

    div#header.ace {
        background-image: url(./ace.svg);
        background-size: contain;
        color: var(--asexual-purple) !important;
        &>div#headerLinks {
            &>* {
                color:  #0f0f0f;
            }
    
            &>*::after {
                background-color:  #0f0f0f;
            }
    
            &>*:hover,
            &>*:focus,
            &>*.active {
                color: var(--asexual-purple);
            }
    
            &>*:hover::after,
            &>*:focus::after,
            &>*.active::after {
                background-color: var(--asexual-purple);
            }
        }
    }
}

html[data-location="/sraz2025"]:has(div#extraHeaderNews[data-target-path="/sraz2025"]),
html[data-location="/sraz2025"]:has(div#extraHeaderNews[data-target-path="/sraz2025"])>body {
    --extraheaderpaddingstuff: 0px !important;
}

a:has(div#extraHeaderNews)::after {
    all: unset;
}

div#extraHeaderNews {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    margin-top: calc(-33px + var(--extraheaderpaddingstuff));
    background-color: var(--červená-z-loga);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-avant-garde);
    font-weight: bold;
    font-size: 22px;
    color: white;
    white-space-collapse: break-spaces;
    transition: margin-top 0.33s cubic-bezier(0.4, 0, 0.2, 1);
}

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=dark_mode);

.material-symbols-outlined{
    background-color: var(--asociální-zeleň);
    border: solid var(--asociální-zeleň);
    border-radius: 0.50vw;
}


