div#header {
    position: fixed;
    font-family: var(--font-klavika-basic);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    color: var(--ghost);
    user-select: none;
    text-align: center;
    column-gap: 16px;
    font-size: 16px;
    z-index: 100;
    height: 48px;
    top: 0;
    background-color: var(--asociální-zeleň);

    & > .tlačítka {
        position: absolute;
        left: 13px;
        display: flex;
        gap: 8px;
    }

    & > .tlačítka > button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid var(--ne-tak-úplně-černá);
        cursor: pointer;
    }

    & > .tlačítka > button.theme-default {
        background-color: var(--asociální-zeleň);
    }

    & > .tlačítka > button.theme-light {
        background-color: var(--bělavě-šedá);
    }

    & > .tlačítka > button.theme-dark {
        background-color: var(--ne-tak-úplně-černá);
    }

    & > .tlačítka > button.active {
        border: 3px solid var(--cerise);
        transform: scale(1.1);
    }

    & > span {
        font-size: 20px;
        font-weight: 700;
        margin-top: -2px;
    }
    & > div#headerLinks {
        display: flex;
        column-gap: 16px;
        & > * {
            margin-top: -2px;
            color: var(--ghost);
            font-family: var(--font-klavika-basic);
            font-size: 20px;
            text-decoration: none;
            position: relative;
            transition: color 0.3s ease 0s;
            padding: 4px 8px;
            border: 1px solid var(--ne-tak-úplně-černá);
            border-radius: 6px;
        }
        & > *::after {
            content: none;
        }
        & > [href="/sraz2025"] {
            color: var(--červená-z-loga);
        }
        & > .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        & > *:hover,
        & > *:focus,
        & > *.active {
            color: var(--ne-tak-úplně-černá);
        }

        & > *:hover::after,
        & > *:focus::after,
        & > *.active::after {
            display: none;
        }
    }
    transition: margin-top 0.33s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 768px) {
    div#header > .tlačítka {
        display: none;
    }
}

div#header.headerWithExtraNews {
    margin-top: var(--extraheaderpaddingstuff);
}

@media screen and (min-width: 1235px) {
    div#header {
        padding: 4px 13px;
        background: var(--asociální-zeleň);
        width: calc(100vw - 26px);
        & > span {
            & > label,
            & > input {
                display: none;
            }
        }
        & > div#headerLinks {
            display: flex;
            column-gap: 16px;
        }
    }

    div#header.ace {
        background-image: url(./ace.svg);
        background-size: contain;
        color: var(--asexual-purple) !important;
        & > div#headerLinks {
            & > * {
                color: var(--ne-tak-úplně-černá);
            }

            & > *::after {
                background-color: var(--ne-tak-úplně-černá);
            }

            & > *:hover,
            & > *:focus,
            & > *.active {
                color: var(--asexual-purple);
            }

            & > *:hover::after,
            & > *:focus::after,
            & > *.active::after {
                background-color: var(--asexual-purple);
            }
        }
    }
}

html[data-location="/sraz2025"]:has(div#extraHeaderNews[data-target-path="/sraz2025"]),
html[data-location="/sraz2025"]:has(div#extraHeaderNews[data-target-path="/sraz2025"]) > body {
    --extraheaderpaddingstuff: 0px !important;
}

a:has(div#extraHeaderNews)::after {
    all: unset;
}

div#extraHeaderNews {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    margin-top: calc(-33px + var(--extraheaderpaddingstuff));
    background-color: var(--červená-z-loga);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-avant-garde);
    font-weight: bold;
    font-size: 22px;
    color: white;
    white-space-collapse: break-spaces;
    transition: margin-top 0.33s cubic-bezier(0.4, 0, 0.2, 1);
}

html:not(.dark):not(.light) div#header {
    background-color: var(--ne-tak-úplně-černá);
    & > div#headerLinks {
        & > * {
            border: 1px solid var(--asociální-zeleň);
        }
        & > *:hover,
        & > *:focus,
        & > *.active {
            color: var(--asociální-zeleň);
        }
    }
}

html:not(.dark):not(.light) div#header > .tlačítka > button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--asociální-zeleň);
    cursor: pointer;
}

html:not(.dark):not(.light) div#header > .tlačítka > button.active {
    border: 3px solid var(--cerise);
    transform: scale(1.1);
}
