div#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #0F0F0F;
    color: var(--ghost);
    padding-left: 16px;
    font-family: var(--font-klavika-condensed);
    font-weight: 300;
    font-style: italic;
    min-height: 50px;
    height: 100%;
    user-select: none;
    font-size: 16px;
    transition: height var(--transition-footer);
    overflow: hidden;

}

div#footer>img {
    height: 50px;
    transition: height var(--transition-footer);
}

div#footer>div#footerInfo {
    display: flex;
    flex-direction: column;
    transition: row-gap var(--transition-footer);
    row-gap: 0px;
    white-space-collapse: preserve-spaces;
}

div#footer>div#footerInfo>span:first-child {
    font-size: 16px;
    transition: font-size var(--transition-footer), transform var(--transition-footer), opacity var(--transition-footer);
    transform: translateY(0%) scaleY(1);
    opacity: 1;
}

div#footer:hover>div#footerInfo>span:first-child {
    transform: translateY(-67%) scaleY(0);
    opacity: 0;
}

div#footer>div#footerInfo>span:not(:first-child) {
    font-size: 16px;
    opacity: 0;
    position: absolute;
    transform: translateY(67%) scaleY(0);
    transition: opacity var(--transition-footer), font-size var(--transition-footer), transform var(--transition-footer);
}

div#footer:hover>div#footerInfo>span:not(:first-child) {
    opacity: 1;
    transform: translateY(0%) scaleY(1);
}

div#footer:hover>div#footerInfo {
    row-gap: 4px;
}

@media screen and (max-width: 949px) {
    div#footer {
        display: none;
    }
}
 div.text{
    word-spacing: 0.1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 }

 