@import '../../common.css';

div#beginningContent iframe {
    max-width: 42rem;
    border: none;
    background: transparent;
    width: 100%;
    height: 59rem;
}

div#content:has(div#beginningContent) {
    min-height: calc(100vh - 106px);
}

div#helpContent:has(div#beginningContent) {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 106px);
}

div#helpContentWrapper {
    min-height: calc(100vh - 106px);
}

div#beginningContent {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: var(--asociální-zeleň);
    width: 100vw;
    min-height: 100%;
    padding-bottom: 32px;
}

div#beginningContent span.sectionTitle {
    margin-top: 64px;
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    div#beginningContent {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

div#beginningNote {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    padding: 16px 24px;
    border: 3px var(--mint) solid;
    border-radius: 24px;
    margin-top: 5rem;
}

@media screen and (max-width: 768px) {
    div#beginningNote {
        font-size: 18px;
        line-height: 1.4;
        padding: 12px 16px;
        border-radius: 16px;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div#beginningNote {
        font-size: 24px;
        padding: 14px 20px;
        margin-top: 3.5rem;
    }
}

div#beginningContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

div#beginningContent .koček {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

div#beginningContent .koček img {
    width: 70%;
    height: auto;
    max-width: 600px;
    min-width: 200px;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    div#beginningContent .koček {
        margin-top: 1.5rem;
    }
    
    div#beginningContent .koček img {
        width: 80%;
        max-width: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    div#beginningContent .koček {
        margin-top: 1.75rem;
    }
    
    div#beginningContent .koček img {
        width: 50%;
        max-width: 500px;
    }
}
