:root {
    --font-brand: "Neue Machina", "JetBrains Mono", monospace;
    --font-mono: "JetBrains Mono", monospace;
    --font-title: "Bebas Neue", "JetBrains Mono", monospace;
    --night: #0F0F0F;
    --ghost: #F0F0F0;
    --asocial-green-light: #8CB8AA;
    --asocial-green: #009074;
    --asocial-green-dark: #005C41;
    --asexual-purple-light: #955895;
    --asexual-purple: #800080;
    --asexual-purple-dark: #4C004C;
    --transition-footer: 0.5s cubic-bezier(.79,.14,.15,.86);
    --transition-members: 0.333s cubic-bezier(.19,1,.22,1);
   /* new */
    --font-avant-garde: "AvantGarde";
    --font-arundina-mono: "Arundina Sans Mono";
    --font-bebas: "Bebas Neue";
    --font-vl-p-gothic: "VL PGothic";
    --asociální-zeleň: #009179;
    --mint: #76c578;
    --peach: #fee4b3;
    --ne-tak-úplně-černá: #0f0f0f;
    --bělavě-šedá: #f0f0f0;
    --červená-z-loga: red;
    --font-klavika-basic: "Klavika_Basic";
    --font-klavika-condensed: "Klavika_Condensed";
}
