:root {
    --font-brand: "Neue Machina", "JetBrains Mono", monospace;
    --font-mono: "JetBrains Mono", monospace;
    --black: #000000;
    --night: #0F0F0F;
    --asocial-green-light: #8CB8AA;
    --asocial-green: #009074;
    --asocial-green-dark: #005C41;
    --white: #FFFFFF;
    --asexual-purple-light: #955895;
    --asexual-purple: #800080;
    --asexual-purple-dark: #4C004C;
}