@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=dark_mode);

html {
    background-color: var(--ne-tak-úplně-černá);
}

html,body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    --extraheaderpaddingstuff: 0px;
    background-color: var(--asociální-zeleň);
}

html:has(div#header.headerWithExtraNews),body:has(div#header.headerWithExtraNews) {
    --extraheaderpaddingstuff: 33px;
}

div#mainContent {
    font-size: 22px;
    font-family: var(--font-klavika-basic);
    background-color: var(--asociální-zeleň);
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bělavě-šedá);
    & .twitter {
        font-family: "Noto Sans Math";
        font-weight: normal;
    }
}

div#content {
    min-height: calc(100vh - 50px - 42px);
}

@media only screen and (max-width: 949px) {
    div#content {
        position: absolute;
        left: 0px;
        right: 0;
        top: 50px;
        bottom: 0;
        overflow: hidden auto;
        padding: 0px;
    }
    div#mainContent {
        padding: 16px 32px 0;
    }
} 

html.light div#mainContent{
    color: var(--ne-tak-úplně-černá);
}
 html.dark body{
    background-color: var(--ne-tak-úplně-černá);
 }

 html.light body{
    background-color: var(--bělavě-šedá);
 }