@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    background-color: black;
}

html,body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    --extraheaderpaddingstuff: 0px;
}

html:has(div#header.headerWithExtraNews),body:has(div#header.headerWithExtraNews) {
    --extraheaderpaddingstuff: 33px;
}

div#mainContent {
	color: var(--ghost);
	font-size: 22px;
	font-family: var(--font-klavika-basic);
    background-color: var(--asociální-zeleň);
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .twitter {
        font-family: "Noto Sans Math";
        font-weight: normal;
    }
}

@media only screen and (max-width: 949px) {
    div#content {
        position: absolute;
        left: 0px;
        right: 0;
        top: 50px;
        bottom: 0;
        overflow: hidden auto;
        padding: 0px;
        padding-bottom: 32px;
    }
    div#mainContent {
        padding: 16px 32px 0;
    }
} 

@media only screen and (min-width: 950px) {
    div#content {
        padding-bottom: 50px;
    }
}